%section#donate
  .section-head
    %h3.current-initiatives Donate Now
    / %h3.current-initiatives
    /   Winnipeg for Wasichana Bake Sale, January 16, 2015

    / %p 
    /   %b DONATE TODAY 
    /   and join 15 Winnipeg schools who have come together to spread awareness about our mandate and raise money to keep our girls in school. Pick a community school or choose just donate, and help make a difference today.
    / .row
    /   .school-column
    /     %ul
    /       %li
    /         University of Winnipeg Collegiate 
    /       %li
    /         Garden City Collegiate
    /       %li
    /         Fort Richmond Collegiate
    /       %li
    /         Vincent Massey Collegiate
    /       %li
    /         St. James Collegiate
    /   .school-column
    /     %ul
    /       %li
    /         Elmwood High School
    /       %li
    /         Glenlawn Collegiate
    /       %li
    /         Churchill High School
    /       %li
    /         Pierre Elliott Trudeau School
    /       %li      
    /         Golden Gate Middle School
    /   .school-column
    /     %ul
    /       %li
    /         Collège Jeanne-Sauvé
    /       %li
    /         Shaftesbury High Schoo
    /       %li
    /         John Pritchard
    /       %li
    /         St. John's Ravenscourt
    /       %li        
    /         River East

  .divider
    %hr
    %h3
      Select your donation
  .amount-container
    .amount
      $25
    .amount
      $50
    .amount
      $100
    .amount
      $250
    .amount
      $500
    .amount.donation
      Other

  .paypal-container    
    .your-donation
      %p
        Enter the amount you wish to donate.
    .enter-amount.style-4
      %script{async: "async", "data-amount-editable" => "$CAD", "data-button" => "donate", "data-currency" => "CAD", "data-name" => "Wasichana Fund", src: "https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=5DTGPRUJ66U7C"}