%section#donate
  .section-head
    %h2
      Donate
    %p
      Support us as we strive to empower young women in Kenya and facilitate an opportunity to redefine their future.
  .amount-container
    .amount
      $25
    .amount
      $50
    .amount
      $100
    .amount
      $250
    .amount
      $500
    .amount
      Other