%section#donate
  .section-head
    %h2
      Donate
    %p
      Support us as we strive to empower young women in Kenya and facilitate an opportunity to redefine their future.
    %h3.current-initiatives
      Current Initiatives
    %p
      Winnipeg for Wasichana Bake Sale: Give Girls a Chance

      On January 13, 2015, girls from various schools around Winnipeg will host their own bake sale to raise money for The Wasichana Fund and spread awareness about the barriers that keeps millions of young girls out of school during menstruation. Click 
      %a{href: "http://www.givegirlsachance.squarespace.com/"}
        here 
      if you're interested in signing up your school to participate.    
  .divider
    %hr
    %h3
      Select your donation
  .amount-container
    .amount
      $25
    .amount
      $50
    .amount
      $100
    .amount
      $250
    .amount
      $500
    .amount.donation
      Other

  .paypal-container    
    .your-donation
      %p
        Enter the amount you wish to donate.
    .enter-amount.style-4
      %script{async: "async", "data-amount-editable" => "$CAD", "data-button" => "donate", "data-currency" => "CAD", "data-name" => "Wasichana Fund", src: "https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=5DTGPRUJ66U7C"}