%footer
  %ul
    %li
      %a{:href => "#theissue"}
        Why Pads?
      %span
        |              
    %li
      %a{:href => "#whatwedo"}
        What We Do
      %span
        |              
    %li
      %a{:href => "#girlprofiles"}
        Girl Profiles
      %span
        |
    %li
      %a{:href => ""}
        Our Team
      %span
        |              
    %li
      %a{:href => "#donate"}
        Donate Now