%section#girlprofiles
  .owl-carousel
    #abigael.full-height
      .profile
        %h2  
          Abigael & Evelyn
        %p
          Abigael and Evelyn are sisters. At 15 and 17, they both live on their own. They're smart for their age and have major ambitions. Abigael wants to become a journalist and Evelyn has her heart set on becoming a pilot. The two sisters know fully well that school gives them a fighting chance to achieve these goals, but discouragingly they miss too much school during menstruation. The Wasichana Fund is here to change that.
    #ngatia.full-height
      .profile
        %h2 
          Ngatia Beth
        %p
          Times are tough for Ngatia Beth. Her parents are unemployed and still have to support her and her two sisters. Pads are out of the financial question; she uses old clothes instead. Even under these circumstances, she still misses five school days per month during menstruation. Her marks in school are suffering as a result. What makes it worse is that she feels she’s got no one to turn to when it comes to women’s health issues. The Wasichana Fund is here to ensure that this doesn’t continue.
    #eucabeth.full-height
      .profile
        %h2 
          Eucabeth
        %p
          At 13, Eucabeth is fairly new to menstruation. She’s got questions. A lot of them. But the support system to answer those questions virtually doesn’t exist. The Wasichana Fund is going to make that a thing of the past. 