%section#header.full-height
  %header
    %h1
      KENYAN GIRLS MISS UP TO A FIFTH OF THEIR SCHOOL YEAR DUE TO MENSTRUATION.
    %p
      Access to pads can change this - and we're proving it.
  #about
    %p
      We're a non-profit organization dedicated to providing sanitary napkins and health education to underprivileged girls in Kenya. We're creating a movement to tackle the stigma around menstruation. Join us.