%section#header
  %header
    %h1
      Kenyan girls miss up to 20% of their school year due to menstruation
    %p
      Access to pads can change this - and we're proving it.
  #about
    %p
      We are a non-profit organization dedicated to providing sanitary napkins and health education to underprivileged girls in Kenya. We are tackling the stigma surrounding menstruation and creating a movement along the way.