%ul
  %li
    %a{href: "#header"}
      %img.logo{src: "images/svg/logo.svg"}
  %li
    %a{href: "#theissue"}
      Why Pads?
  %li
    %a{href: "#whatwedo"}
      What We Do
  %li
    %a{href: "#girlprofiles"}
      Girl Profiles
  %li
    %a{href: "#wasichanateam"}
      Our Team
  %li
    %span
      %a.donate{href: "#donate"}
        Donate Now
  %li.social-media-links
    %a{href: "https://www.facebook.com/TheWasichanaFund"}
      %img{src: "images/svg/icon-facebook.svg"}
    %a{href: "https://twitter.com/wasichanafund"}    
      %img{src: "images/svg/icon-twitter.svg"}