#mobile-nav
  #mobile-header
    %a.header{href: "#header"}
      %img{src: "images/svg/logo.svg"}
    %a#menu-icon.menu-icon
      %img{src: "images/nav-icon.png"}
  #mobile-links
    %ul
      %li
        %a{href: "#theissue"}
          Why Pads?
      %li
        %a{href: "#whatwedo"}
          What We Do
      %li
        %a{href: "#girlprofiles"}
          Girl Profiles
      %li
        %a{href: "#wasichanateam"}
          Our Team
      %li
        %span
          %a{href: "#donate"}
            Donate Now
      %li.social-media-link
        %a{href: "https://twitter.com/wasichanafund"}
          %img{src: "images/svg/icon-facebook.svg"}
          Facebook
        %a{href: "https://www.facebook.com/TheWasichanaFund"}
          %img{src: "images/svg/icon-twitter.svg"}
          Twitter