%section#ourteam
  .section-head
    %h2
      Meet Our Team
    %p
      We come from various backgrounds but we share one thing in common: we all donate our time so that 100% of the funds raised go straight towards our operations in Kenya.

  #team-container
    #team-grid
      .team-playa
        %img.noiinteam.jade{src: "images/team/team-jade.jpg"}              
        %h4.jade
          Jade Lai
        %a.linked{href:"http://www.linkedin.com/pub/jade-lai/29/430/3b5"}
          %img.linkedin{src: "images/svg/icon-linkedin.svg"}      
        #jade.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-jade.jpg"}  
          %p
            Jade often describes herself as someone with a 50/50 split - a balance between right-brain creativity and left-brain analysis. After grinding out her HBA degree at the Richard Ivey School of Business, she is now en route to adding the CA, CPA designation behind her name. Aside from her professional life, she's developed a deep commitment and compassion for a wide-range of global issues. Be it earthquake relief missions in China, micro-financing projects in Honduras or advocating on behalf of cancer research, Jade’s activism is far-reaching and extremely impactful. Since founding Wasichana in 2012, she has never stopped exploring opportunities to execute innovative ideas and disrupt the status quo. If she's not spending time discovering new strategies for Wasichana, she's connecting with the community to find inspiration from the game changers around her. Don't be surprised if you bump into her at any of the many tech and entrepreneurship conferences that she attends.
      .team-playa
        %img.noiinteam.nelly{src: "images/team/nelly.jpg"}
        %h4.nelly
          Nelly Kinyanjui
        %img.linkedin{src: "images/svg/icon-linkedin.svg"}                     
        #nelly.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/nelly.jpg"}
          %p
            Nelly acts as Wasichana's eyes and ears on-the-ground. As the lead Program Coordinator, she instigates social and economic change for local women in Kenya by providing health education to girls at our partnership schools and optimizing the sanitary pad distribution process. Her passion and deep commitment towards Wasichana stem from her mother's upbringing. As the role model in her life, her mother has always emphasized the importance of education and reinvesting back in the community with the skills she obtained from business college. Her goal is to become the principal change agent in the community by creating a supportive mentorship network and equipping local girls with the necessary skills to make informed life decisions and give each girl a chance to learn, grow, and meet their full potential. 
                           
      .team-playa
        %img.noiinteam.daniel{src: "images/team/team-daniel.jpg"}
        %h4.daniel
          Daniel Korsunsky
        %a.linked{href: "http://www.linkedin.com/in/danielkorsunsky"}          
          %img.linkedin{src: "images/svg/icon-linkedin.svg"}                    
        #daniel.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-daniel.jpg"}  
          %p 
            Daniel currently works as an Associate at PricewaterhouseCoopers (PwC) and is a graduate of the Richard Ivey School of Business where he obtained an HBA degree with distinction. Daniel’s interest in social causes was sparked at a young age when he founded two small scale social enterprises, one of which won the CIBC Student Venture Award for Environmental Stewardship in 2008. Ever since, he has dedicated much of his time to local and global causes. He brings a wealth of education-related and non-profit management capabilities from his past experiences which include teaching English to students overseas along with acting as President of the London, Ontario chapter of Meal Exchange, a charity that he is still involved with- serving on its national Programming Advisory Committee. Given the fact that women make up half of the World’s population, Wasichana appealed to Daniel when he learned of the extremely low cost to help keep girls in school and the huge impact that this can have on them, their families, their communities, and the world as a whole. When Daniel gets the chance, he loves to travel. Through his travels to 20+ countries, Daniel has gotten the opportunity to kayak with whales, live in Bedouin tents, test his luck at skydiving, and recently he obtained his PADI scuba diving certification while travelling throughout Asia. His next adventure awaits!
                                   
      .team-playa
        %img.noiinteam.charing{src: "images/team/team-charing.jpg"}
        %h4.charing
          Charing Hui CPA, CA
        %a.linked{href:"http://www.linkedin.com/pub/charing-hui-cpa-ca/14/276/476"}
          %img.linkedin{src: "images/svg/icon-linkedin.svg"}                    
        #charing.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-charing.jpg"}  
          %p 
            Raised in Vancouver, BC, Charing decided she needed a change in scenery and moved out East. She studied at the Richard Ivey School of Business and currently works at Deloitte in Toronto. She travelled to Tanzania to take part in a microfinance initiative focused on empowering women with practical business skills. Captivated by the culture and charm of the people that she met, Charing was determined to find additional channels to dedicate her efforts across the continent. Wasichana was the perfect opportunity. Charing brings to Wasichana a wealth of finance and accounting knowledge to help monitor progress and increase operational transparency. When she's not staring at her laptop working away and balancing Wasichana’s books, she's glued to her couch catching up on the latest TV shows.
                  
      .team-playa
        %img.noiinteam.emily{src: "images/team/team-emily.jpg"}
        %h4.emily
          Emily Zhan
        %a.linked{href:"http://www.linkedin.com/pub/emily-zhan/26/b33/a17"}          
          %img.linkedin{src: "images/svg/icon-linkedin.svg"}                    
        #emily.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-emily.jpg"}  
          %p
            Emily is originally from Vancouver but moved to Ontario to attend the Richard Ivey School of Business where she obtained her HBA degree. She is currently working as an analyst at Manulife within their Capital Markets division. Emily got involved with Wasichana with the hopes of growing the organization’s reach and awareness. After wearing “many hats” in an organization that she founded a few years ago, Emily brings a variety of experience in finance, marketing, and event management to the team. A superstar chef, Emily can be found in the kitchen cooking and baking any one of her many famous recipes.
                  
      .team-playa
        %img.noiinteam.jacob{src: "images/team/team-jacob.jpg"}
        %h4.jacob
          Jacob Wan
        %a.linked{href:"http://www.linkedin.com/in/jakewan"}          
          %img.linkedin{src: "images/svg/icon-linkedin.svg"}                    
        #jacob.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-jacob.jpg"}        
          %p 
            Jacob is from Toronto and has a background in business and economics from the University of Western Ontario. He currently works in the advertising industry happily crunching numbers as a data analyst. Focusing his efforts on Wasichana’s marketing, Jacob brings in industry knowledge from the ad world to help try to answer the constant question - “How do we get our message to a larger audience?” Jacob saw an opportunity in Wasichana’s movement that could lead to implications for greater and better social policy and jumped on board. Jacob doesn’t have any cool talents or hobbies. He doesn’t consider the ability to inhale his food as a talent. As for hobbies, he’s trying to pick up wood working. He recently made a cheese board, but he doesn’t know if that counts.
                  
      .team-playa
        %img.noiinteam.rishi{src: "images/team/team-rishi.jpg"}
        %h4.rishi
          Rishi Nayyar
        %a.linked{href:"http://www.linkedin.com/in/rishinayyar"}          
          %img.linkedin{src: "images/svg/icon-linkedin.svg"}                    
        #rishi.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-rishi.jpg"}
          %p
            Rishi grew up in the mean suburbs of Mississauga, Ontario and graduated from the Richard Ivey School of Business with a focus in management and finance. While spending his days on Bay Street at an Investment Bank, Rishi joined Wasichana so he could have a creative outlet for his passion for making a difference. He brings to the team a knack for data management, a mind for marketing and a desire to use his powers for good. Between his work and Wasichana, Rishi manages to squeeze in his unhealthy obsessions with Law and Order, stage acting and maintaining an active lifestyle (he insisted that Law and Order be 1st on this list). He is inspired by the hit Disney series The Mighty Ducks and tries to model his leadership style after Gordon Bombay. 
    
      .team-playa
        %img.noiinteam.victor{src: "images/team/team-victor.jpg"}
        %h4.victor
          Victor Shaw
        %a.linked{href:"http://www.linkedin.com/pub/victor-shaw/27/93a/825"}  
          %img.linkedin{src: "images/svg/icon-linkedin.svg"}                    
        #victor.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-victor.jpg"}
          %p
            Graduating with a joint engineering and business degree from the Richard Ivey School of Business, Victor performed at the top of many of his classes. His schooling has translated successfully into the business world where he has excelled in his placements at Goldman Sachs, , and his current employer, Morgan Stanley. This practical application of his education has motivated Victor to consider the breadth of opportunities that an engineering background permits. Victor is now passionate about utilizing his educational background and work-experience to develop innovative ideas applicable to projects in the developing world. A reputation of diligence and enthusiasm makes Victor an important asset to the Wasichana team. Victor has been the driving force behind Wasichana’s sustainability efforts and in case you could not already tell, Victor is a genius.
          
      .team-playa
        %img.noiinteam.sylvanna{src: "images/team/team-sylvanna.jpg"}
        %h4.sylvanna
          Silvanna Skoko
        %a.linked{href:"https://www.linkedin.com/pub/silvana-skoko/97/805/680"}  
          %img.linkedin{src: "images/svg/icon-linkedin.svg"}
        #sylvanna.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-sylvanna.jpg"}
          %p
            Originally from Toronto, Silvana graduated from the Richard Ivey School of Business and bee-lined to Bay Street to analyze financial derivatives and the riskiness of some of the world’s largest corporations. Before becoming a full-time number-cruncher, Silvana had the opportunity to work as a consultant for a number of non-profit and social enterprise foundations. Much of Silvana’s consulting was focused around creating employment opportunities for marginalized and disadvantaged communities and as a result, she saw first-hand the impact that meaningful employment can have on a person’s happiness and mental health. Silvana was inspired to join The Wasichana Fund team due to the organization’s role in promoting education and post-graduate employment for the women of Kenya. In her spare time, Silvana is on the lookout for the next big adventure and can be found paragliding through the Swiss Alps, climbing Machu Picchu and dune-buggying across Greek islands. She can also dance Polka and is committed to destroying the stigma around its uncoolness. She has made little progress.
            
      .team-playa
        %img.noiinteam.helene{src: "images/team/team-helene.jpg"}
        %h4.helene
          Helene Fjeldstad
        %img.linkedin{src: "images/svg/icon-linkedin.svg"}                     
        #helene.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-helene.jpg"}
          %p
            Originally from a small town, Øygarden, on the West Coast of Norway, she has always had an obsession with teaching and promoting the importance of education. Either she's travelling in East Africa, India or Southeast Asia, her professional photography skills have helped her capture the most candid moments she has shared with each student. She hopes through her photography, she will be able to inspire others to branch out of their comfort zones and do their part in helping our global community.
                  
      .team-playa
        %img.noiinteam.emilyr{src: "images/team/team-emily2.jpg"}
        %h4.emilyr
          Emily Richard
        %img.linkedin{src: "images/svg/icon-linkedin.svg"}                     
        #emilyr.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-emily2.jpg"}
          %p
            Emily has an irresistible charm that captivates each child she meets. She is an all-star rhythmic gymnast and has dedicated many years running a non-profit rhythmic gymnastics club with the principle aim of instilling self-esteem and confidence in young female athletes. Emily lives by her motto "Paying it Forward" and promoting a healthy, active and culturally rich lifestyle to all her friends and family around her. 
    
      .team-playa      
        %img.noiinteam.hannah{src: "images/team/team-hannah.jpg"}
        %h4.hannah
          Hannah Gofman
        %img.linkedin{src: "images/svg/icon-linkedin.svg"}                     
        #hannah.white-popup.mfp-hide
          %img.noiinteam{src: "images/team/team-hannah.jpg"}
          %p
            Growing up, Hannah was always told that “girls can do anything”. This mantra was taught to her at the highly respected all-girls school she attended from kindergarten through to high school graduation. After graduation, herself and her peers went on to attend top universities and landed excellent jobs. When she learned about the abysmally low school graduation rate of females in Africa, she knew she had to do something about it.This sparked a passion and drive to educate and empower girls across the globe. Hannah brings to Wasichana years of experience with many philanthropic organizations as well as a unique perspective from her volunteer role on the Canadian Women’s Initiative at Deloitte where she also works as a Consultant in their Enterprise Risk practice. Hannah is passionate, energetic, enthusiastic and up for any challenge! With an HBA from the Richard Ivey School of Business in her arsenal, Hannah brings to the table an array of technical skills along with her unique leadership style. She has a love for sport and the outdoors- she is always exploring a new hobby relating to the two! Most recently while backpacking through Indonesia she had the incredible opportunity to climb up a volcano. This has ignited her newest outdoor passion, hiking. Her goal is to show the world that girls really can do anything. 