#timeline-container
  %section#howitworks      
    .section-head          
      %h2
        How it works
      %p
        Our model is simple - and with the help of some passionate partners we're making an impact in a big way.
  %section#timeline       
    .arrow-down 
    #cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-blue
        .cd-timeline-content
          %img{src: "images/svg/howitworks-sourcing.svg"}/
          %h3.blue Sourcing
          %p We regularly purchase batch orders from local, African pad manufacturers. Our focus when selecting supply partners is quality above all and a commitment to our vision.
      .cd-timeline-block
        .cd-timeline-img.cd-yellow
        .cd-timeline-content
          %img{src: "images/svg/howitworks-storing.svg"}/
          %h3.yellow Storing
          %p Our resources are precious. Local pad manufacturers ship directly to our partner NGOs who provide safe, secure storage. We have controls in place to safeguard our images.
      .cd-timeline-block
        .cd-timeline-img.cd-red
        .cd-timeline-content
          %img{src: "images/svg/howitworks-distributing.svg"}/
          %h3.red Distributing
          %p Our partner NGOs provide transportation services for our dedicated Program Directors, who are qualified local women that we hire after a careful vetting process. Working for Wasichana helps provide income security and allows them to engage directly in their local community.
      .cd-timeline-block
        .cd-timeline-img.cd-blue
        .cd-timeline-content
          %img{src: "images/svg/howitworks-educating.svg"}/
          %h3.blue Educating
          %p Our Program Directors conduct mandatory Health Classes with all girls in the program every two weeks for the entire school year. These classes address topics like the biology behind menstruation and how to address, remove the stigma around it, how to have safe, healthy relationships, and the prevention of sexually-transmiteed infections. Through classes girls can seize the opportunity to learn the positive role models, gain confidence, and become voices for change in their local communities.
      .cd-timeline-block
        .cd-timeline-img.cd-yellow
        .cd-timeline-content
          %img{src: "images/svg/howitworks-growing.svg"}/
          %h3.yellow Growing
          %p We aren't done yet. We are constantly scouting for new schools to add to the Wasichana family. This isn’t easy east – it involves working with school administrations, hiring Program Directors, onboarding new students, planning delivery routes, scheduling health classes and much more!     