%section#whatwedo
  .section-head    
    %h2
      What We Do
    %p 
      We've provided over 55,000 pads and given back 256,000 hours for girls to go back to school.

  .badge-container
    .badge.fadeIn.wow
      %img{:src => "images/svg/whatwedo-distribution.svg"}
      %p Since we've started, we've distributed over 55,000 pads to 9-18 year old girls in Nairobi with thousands more being distributed every month.  
      %span
        %h1 +            
    .badge.fadeIn.wow
      %img{:src => "images/svg/whatwedo-healthedu.svg"}       
      %p Our dedicated local Program Directors conduct classes bi-weekly with all girls in the program addressing topics like menstruation, STIs and managing intimate relationships.
      %span
        %h1 +
    .badge.fadeIn.wow
      %img{:src => "images/svg/whatwedo-partnerships.svg"}
      %p We look to partner with the leading local operations - from our Pad Supplies to our Storage Centres - to ensure that integrity and efficiency unpins all of our operations
  
  .button-container
    %button.toggle
      Learn more
