%section#theissue
  .issue-container
    %h2
      The Issue
    %p
      Menstruation. It's not a pretty topic we know. But what you might not know is that menstrual health and education are powerful forces for economic progress in the developing world. And frighteningly, the lack of it can prove to be an obstacle to socioeconomic advancement
    .video
      .video-wrapper
        %iframe{allowfullscreen: "", frameborder: "0", height: "640", mozallowfullscreen: "", src: "//player.vimeo.com/video/99071231?title=0&byline=0&portrait=0&color=ffffff", webkitallowfullscreen: "", width: "360"}  
%section#thestigma
  .whypads-container
    %h2
      The Stigma
    %p
      There is an unfortunate taboo that exists around menstruation in developing countries. Women are held back by the shame around their most basic sanitary needs. This needs to change.
%section#thesolution
  .whypads-container
    %h2
      The Solution
    %p
      It's simple. Pads are an effective and low cost solution that keep girls in school. Educated girls can then accelerate social and economic progress that can have a lasting impact on future generations and move the country forward.